---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic ZXJpYy5tLmxld0BnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"94a75a11-c3f3-4365-88af-bae4abc9a679","expires_at":"2018-03-05T03:12:45.229Z"}'
  recorded_at: Mon, 05 Mar 2018 02:52:45 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"RSpec Delete List_1"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="94a75a11-c3f3-4365-88af-bae4abc9a679"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/e33a7c8d-a2ed-4b5b-a4a1-bf059f8c45f0
    body:
      encoding: UTF-8
      string: '{"name":"RSpec Delete List_1","src":"http://todoable.teachable.tech/api/lists/e33a7c8d-a2ed-4b5b-a4a1-bf059f8c45f0","id":"e33a7c8d-a2ed-4b5b-a4a1-bf059f8c45f0"}'
  recorded_at: Mon, 05 Mar 2018 02:52:46 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/e33a7c8d-a2ed-4b5b-a4a1-bf059f8c45f0/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"RSpec Delete Item"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="94a75a11-c3f3-4365-88af-bae4abc9a679"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/e33a7c8d-a2ed-4b5b-a4a1-bf059f8c45f0/items/c0432891-6ad7-4b60-94a5-6dfa7d2bd139
    body:
      encoding: UTF-8
      string: '{"name":"RSpec Delete Item","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/e33a7c8d-a2ed-4b5b-a4a1-bf059f8c45f0/items/c0432891-6ad7-4b60-94a5-6dfa7d2bd139","id":"c0432891-6ad7-4b60-94a5-6dfa7d2bd139"}'
  recorded_at: Mon, 05 Mar 2018 02:52:46 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/e33a7c8d-a2ed-4b5b-a4a1-bf059f8c45f0/items/c0432891-6ad7-4b60-94a5-6dfa7d2bd139
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="94a75a11-c3f3-4365-88af-bae4abc9a679"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Mar 2018 02:52:46 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/e33a7c8d-a2ed-4b5b-a4a1-bf059f8c45f0
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="94a75a11-c3f3-4365-88af-bae4abc9a679"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Mar 2018 02:52:46 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/e33a7c8d-a2ed-4b5b-a4a1-bf059f8c45f0/items/c0432891-6ad7-4b60-94a5-6dfa7d2bd139
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="94a75a11-c3f3-4365-88af-bae4abc9a679"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Mar 2018 02:52:46 GMT
recorded_with: VCR 4.0.0
