---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic ZXJpYy5tLmxld0BnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"1b2bb656-03c0-4018-8332-8e925a71bc8a","expires_at":"2018-03-05T03:12:42.170Z"}'
  recorded_at: Mon, 05 Mar 2018 02:52:42 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Change Name List_1"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="1b2bb656-03c0-4018-8332-8e925a71bc8a"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/ae7a9cd9-6c4d-4c4f-999a-4c2e9c5056bb
    body:
      encoding: UTF-8
      string: '{"name":"Change Name List_1","src":"http://todoable.teachable.tech/api/lists/ae7a9cd9-6c4d-4c4f-999a-4c2e9c5056bb","id":"ae7a9cd9-6c4d-4c4f-999a-4c2e9c5056bb"}'
  recorded_at: Mon, 05 Mar 2018 02:52:42 GMT
- request:
    method: patch
    uri: http://todoable.teachable.tech/api/lists/ae7a9cd9-6c4d-4c4f-999a-4c2e9c5056bb
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Change Name New Name List_1"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="1b2bb656-03c0-4018-8332-8e925a71bc8a"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: Change Name New Name List_1 updated
  recorded_at: Mon, 05 Mar 2018 02:52:43 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/ae7a9cd9-6c4d-4c4f-999a-4c2e9c5056bb
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="1b2bb656-03c0-4018-8332-8e925a71bc8a"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Mar 2018 02:52:43 GMT
recorded_with: VCR 4.0.0
