---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic ZXJpYy5tLmxld0BnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"7fac932c-9caf-4eff-9e07-e99e45f30836","expires_at":"2018-03-05T03:12:44.868Z"}'
  recorded_at: Mon, 05 Mar 2018 02:52:45 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"RSpec Delete List_2"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="7fac932c-9caf-4eff-9e07-e99e45f30836"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/c649f7c9-1d4d-4418-9063-f3085d4e48c0
    body:
      encoding: UTF-8
      string: '{"name":"RSpec Delete List_2","src":"http://todoable.teachable.tech/api/lists/c649f7c9-1d4d-4418-9063-f3085d4e48c0","id":"c649f7c9-1d4d-4418-9063-f3085d4e48c0"}'
  recorded_at: Mon, 05 Mar 2018 02:52:45 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/c649f7c9-1d4d-4418-9063-f3085d4e48c0
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="7fac932c-9caf-4eff-9e07-e99e45f30836"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Mar 2018 02:52:45 GMT
recorded_with: VCR 4.0.0
