---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic ZXJpYy5tLmxld0BnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"cda301b1-d511-47ec-a0a4-3d6ed1d9ef44","expires_at":"2018-03-05T03:16:16.293Z"}'
  recorded_at: Mon, 05 Mar 2018 02:56:16 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Item List_2"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="cda301b1-d511-47ec-a0a4-3d6ed1d9ef44"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/0257cbdf-33e9-4212-ada3-9f037a0c9af2
    body:
      encoding: UTF-8
      string: '{"name":"Item List_2","src":"http://todoable.teachable.tech/api/lists/0257cbdf-33e9-4212-ada3-9f037a0c9af2","id":"0257cbdf-33e9-4212-ada3-9f037a0c9af2"}'
  recorded_at: Mon, 05 Mar 2018 02:56:17 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/0257cbdf-33e9-4212-ada3-9f037a0c9af2/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"Item Test"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="cda301b1-d511-47ec-a0a4-3d6ed1d9ef44"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/0257cbdf-33e9-4212-ada3-9f037a0c9af2/items/8228447c-855a-4431-893c-6c11e4736ebc
    body:
      encoding: UTF-8
      string: '{"name":"Item Test","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/0257cbdf-33e9-4212-ada3-9f037a0c9af2/items/8228447c-855a-4431-893c-6c11e4736ebc","id":"8228447c-855a-4431-893c-6c11e4736ebc"}'
  recorded_at: Mon, 05 Mar 2018 02:56:17 GMT
- request:
    method: put
    uri: http://todoable.teachable.tech/api/lists/0257cbdf-33e9-4212-ada3-9f037a0c9af2/items/8228447c-855a-4431-893c-6c11e4736ebc/finish
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="cda301b1-d511-47ec-a0a4-3d6ed1d9ef44"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: Item Test finished
  recorded_at: Mon, 05 Mar 2018 02:56:17 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists/0257cbdf-33e9-4212-ada3-9f037a0c9af2
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="cda301b1-d511-47ec-a0a4-3d6ed1d9ef44"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Item List_2","items":[{"name":"Item Test","finished_at":"2018-03-05T02:56:16.788Z","src":"http://todoable.teachable.tech/api/lists/0257cbdf-33e9-4212-ada3-9f037a0c9af2/items/8228447c-855a-4431-893c-6c11e4736ebc","id":"8228447c-855a-4431-893c-6c11e4736ebc"}]}'
  recorded_at: Mon, 05 Mar 2018 02:56:17 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/0257cbdf-33e9-4212-ada3-9f037a0c9af2/items/8228447c-855a-4431-893c-6c11e4736ebc
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="cda301b1-d511-47ec-a0a4-3d6ed1d9ef44"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Mar 2018 02:56:17 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/0257cbdf-33e9-4212-ada3-9f037a0c9af2
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="cda301b1-d511-47ec-a0a4-3d6ed1d9ef44"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Mar 2018 02:56:17 GMT
recorded_with: VCR 4.0.0
