---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic ZXJpYy5tLmxld0BnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"6f549576-f1bd-4e83-bcb4-2922260fef4a","expires_at":"2018-03-05T03:12:43.707Z"}'
  recorded_at: Mon, 05 Mar 2018 02:52:44 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"RSpec Test List_2"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="6f549576-f1bd-4e83-bcb4-2922260fef4a"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/c73bc528-8b19-415e-87ba-b2fadc5aee5b
    body:
      encoding: UTF-8
      string: '{"name":"RSpec Test List_2","src":"http://todoable.teachable.tech/api/lists/c73bc528-8b19-415e-87ba-b2fadc5aee5b","id":"c73bc528-8b19-415e-87ba-b2fadc5aee5b"}'
  recorded_at: Mon, 05 Mar 2018 02:52:44 GMT
recorded_with: VCR 4.0.0
