---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic ZXJpYy5tLmxld0BnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"6ee2afa6-51f0-4aff-b6e1-3fa92559d018","expires_at":"2018-03-05T03:12:44.017Z"}'
  recorded_at: Mon, 05 Mar 2018 02:52:44 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"RSpec Fail List3"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="6ee2afa6-51f0-4aff-b6e1-3fa92559d018"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/44d79f09-e7c6-41fd-8c37-10cafe6fec41
    body:
      encoding: UTF-8
      string: '{"name":"RSpec Fail List3","src":"http://todoable.teachable.tech/api/lists/44d79f09-e7c6-41fd-8c37-10cafe6fec41","id":"44d79f09-e7c6-41fd-8c37-10cafe6fec41"}'
  recorded_at: Mon, 05 Mar 2018 02:52:44 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"RSpec Fail List3"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="6ee2afa6-51f0-4aff-b6e1-3fa92559d018"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":["has already been taken"]}'
  recorded_at: Mon, 05 Mar 2018 02:52:44 GMT
recorded_with: VCR 4.0.0
