---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic ZXJpYy5tLmxld0BnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"bd799c56-5468-4953-929e-03a755e6b935","expires_at":"2018-03-05T03:12:44.424Z"}'
  recorded_at: Mon, 05 Mar 2018 02:52:45 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"RSpec Success_1"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="bd799c56-5468-4953-929e-03a755e6b935"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/7eb04156-c03d-4c47-aef3-12f0635dd496
    body:
      encoding: UTF-8
      string: '{"name":"RSpec Success_1","src":"http://todoable.teachable.tech/api/lists/7eb04156-c03d-4c47-aef3-12f0635dd496","id":"7eb04156-c03d-4c47-aef3-12f0635dd496"}'
  recorded_at: Mon, 05 Mar 2018 02:52:45 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"RSpec Success_1"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="bd799c56-5468-4953-929e-03a755e6b935"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":["has already been taken"]}'
  recorded_at: Mon, 05 Mar 2018 02:52:45 GMT
recorded_with: VCR 4.0.0
