---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic ZXJpYy5tLmxld0BnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"e5e0fa30-eea4-4b30-92bd-04f784d0f8ad","expires_at":"2018-03-05T03:12:42.816Z"}'
  recorded_at: Mon, 05 Mar 2018 02:52:43 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists/a1edcc66-eba9-4e56-a125-b6978cd4082f
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="e5e0fa30-eea4-4b30-92bd-04f784d0f8ad"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"List Object Test11","items":[]}'
  recorded_at: Mon, 05 Mar 2018 02:52:43 GMT
recorded_with: VCR 4.0.0
